<p id="notice"><%= notice %></p>

<h1>Cadastro de condutores</h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cnh</th>
          <th>Vencimento</th>
          <th>Categoria cnh</th>
          <th>telefone</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @condutores.each do |condutor| %>
          <tr>
            <td><%= condutor.nome %></td>
            <td><%= condutor.cnh %></td>
            <td><%=l condutor.vencimento_cnh %></td>
            <td><%= condutor.categoria_cnh.descricao %></td>
            <td>(<%= condutor.ddd %>)  <%= condutor.telefone %></td>
            <td><%= link_to 'Editar', edit_condutor_path(condutor) %></td>
            <td><%= link_to 'Excluir', condutor, method: :delete, data: { confirm: 'Tem certeza que deseja remover este condutor?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <div class="col-md-1">
      <%= link_to new_condutor_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        Cadastrar condutor
      <% end %>
    </div>



