<div class="page-header">

  <%= link_to new_agendamento_viagem_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Agendar viagem
  <% end %>

  <h1>Agendamento de Viagens</h1>
</div>


<div class="busca">
  <%= smart_listing_controls_for(:agendamento_viagens, {class: "form-inline text-left"}) do %>
    <fieldset> 
   <!-- <legend>Busca</legend>-->
      <%= label_tag :placa,'Placa' %>
    <div class="form-group filter">
      <%= text_field_tag :filter,'' , :class => 'datepicker form-control',:size => 10, placeholder: "Digite aqui", autocomplete: "off" %>
    </div>
    <button class="btn btn-primary" type="submit">
      <span class="glyphicon glyphicon-search"> </span>
    </button>
    </fieldset>
  <% end %>
</div>
<br />
<%= smart_listing_render(:agendamento_viagens) %>
