 
<%= form_for(@veiculo,:html => { :class => 'formulario_cadastro' }) do |f| %>
  <% if @veiculo.errors.any? %>
	  <div class="alert alert-danger alert-dismissable">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    <ul>
	    <% @veiculo.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
  <% else %>
    <p id="notice"></p>
  <% end %>

  <div class="row">

    <div class="form-group">
      <div class="col-md-2"><%= f.label :tipo_veiculo_id, 'Tipo de veiculo' %></div>
      <div class="col-md-2">
        <%= f.select :tipo_veiculo_id, options_from_collection_for_select(@tipo_veiculos, "id", "descricao"), :prompt => "Selecione um tipo" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-2"><%= f.label :marca_id, 'Marca' %></div>
      <div class="col-md-2">
        <%= select_tag :marca_id, options_from_collection_for_select([], "id", "descricao"),
                     "data-option-dependent" => true,
                     "data-option-observed" => "veiculo_tipo_veiculo_id",
                     "data-option-url" => "/marcas/:tipo_veiculo_id:/marcas_by_tipo_veiculo.json",
                     "data-option-key-method" => :id,
                     "data-option-value-method" => :descricao%>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-2"><%= f.label :modelo_id, 'Modelo' %></div>
      <div class="col-md-2">
        <%= select_tag :modelo_id, options_from_collection_for_select([], "id", "descricao"),
                     "data-option-dependent" => true,
                     "data-option-observed" => "marca_id",
                     "data-option-url" => "/modelos/:marca_id:/modelos_by_marca.json",
                     "data-option-key-method" => :id,
                     "data-option-value-method" => :descricao %>
      </div>
    </div>

    <br/>

    <div class="form-group">
      <div class="col-md-2"><%= f.label :placa %></div>
      <div class="col-md-10"><%= f.text_field :placa %></div>
    </div>

    <div class="form-group">
      <div class="col-md-2"><%= f.label :renavam %></div>
      <div class="col-md-10"><%= f.text_field :renavam %></div>
    </div>

    <div class="form-group">
      <div class="col-md-1"><%= f.label :cor_veiculo_id, 'Cor' %></div>
      <div class="col-md-2">
        <%= f.collection_select(:cor_veiculo_id, @cores,:id, :descricao,prompt: "Selecione uma cor") %>
      </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>

    <div class="form-group">
      <div class="col-md-2"><%= f.label :chassi %></div>
      <div class="col-md-10"><%= f.text_field :chassi %></div>
    </div>

    <div class="form-group">
      <div class="col-md-2"><%= f.label :peso %></div>
      <div class="col-md-10"><%= f.text_field :peso %> Kg</div>
    </div>

    <div class="form-group">
      <div class="col-md-2"><%= f.label :capacidade_carga,'Capacidade de carga' %></div>
      <div class="col-md-10"><%= f.text_field :capacidade_carga %> Kg</div>
    </div>

    
  </div>

  <br/>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary", :value => "Salvar" %>
    </div>
  </div>
 
<% end %>
