
<h1>Detalhes de veiculo</h1>

<p>
  <strong>Tipo de veiculo:</strong>
  <%= @veiculo.tipo_veiculo.descricao %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @veiculo.modelo.marca.descricao %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @veiculo.modelo.descricao %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @veiculo.placa %>
</p>

<p>
  <strong>Renavam:</strong>
  <%= @veiculo.renavam %>
</p>

<p>
  <strong>Cor:</strong>
  <%= @veiculo.cor_veiculo.descricao %>
</p>

<p>
  <strong>Chassi:</strong>
  <%= @veiculo.chassi %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @veiculo.peso %>
</p>

<p>
  <strong>Capacidade de carga:</strong>
  <%= @veiculo.capacidade_carga %>
</p>

<div class="col-md-1">
  <%= link_to edit_veiculo_path(@veiculo), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Editar
  <% end %>
</div>
<div class="col-md-1">
  <%= link_to veiculos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-arrow-left"></span>
    Voltar
  <% end %>
</div>
