<%= form_for(@marca) do |f| %>
  <% if @marca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marca.errors.count, "error") %> prohibited this marca from being saved:</h2>

      <ul>
      <% @marca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group">
      <div class="col-md-1"><%= f.label :descricao, 'Descrição' %></div>
      <div class="col-md-2"><%= f.text_field :descricao ,:class => 'form-control', :size => 15 %></div>
    </div>
  </div>

  <br/>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit :class => "btn btn-primary", :value => "Enviar" %>
    </div>
  </div>
<% end %>

