<%= form_for(@cor_veiculo) do |f| %>
  <% if @cor_veiculo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cor_veiculo.errors.count, "error") %> prohibited this cor_veiculo from being saved:</h2>

      <ul>
      <% @cor_veiculo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %><br>
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
