<p id="notice"><%= notice %></p>

<h1>Listing Cor Veiculos</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cor_veiculos.each do |cor_veiculo| %>
      <tr>
        <td><%= cor_veiculo.descricao %></td>
        <td><%= link_to 'Show', cor_veiculo %></td>
        <td><%= link_to 'Edit', edit_cor_veiculo_path(cor_veiculo) %></td>
        <td><%= link_to 'Destroy', cor_veiculo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cor veiculo', new_cor_veiculo_path %>
