<div class="page-header">

    <%= link_to new_modelo_path, :class => 'btn btn-default' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Cadastrar modelo
    <% end %>

    <h1>Modelos</h1>
  </div>


  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Descricao</th>
          <th>Marca</th>
          <th colspan="2">Gerenciar</th>
        </tr>
      </thead>

      <tbody>
        <% @modelos.each do |modelo| %>
          <tr>
            <td><%= modelo.descricao %></td>
            <td><%= modelo.marca.descricao %></td>
            <td><%= link_to 'Editar', edit_modelo_path(modelo) %>
            <%= link_to 'Excluir', modelo, method: :delete, data: { confirm: 'Tem certeza que deseja excluir este modelo?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  
